body{
    padding: 0;
    margin: 0;
    
}

header{
    color: rgba(red, green, blue, alpha)
}


h1{
    /* position:absolute;
    top: 20%;
    left: 30%; */


    
}

h2{
    color:#096D79;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;

}
.sectionleft{
    text-align: left;
}
.sectionright{
    text-align: right;
}

footer{
    background-color: black;
    height: 100px;
}

footer p{
    position: relative;
    top: 35%;
    padding: 24px;
    

}

@media (max-width: 480px) {
        header{
            background-color: pink;}

    }
    
@media (max-width: 768px) {
        header{
        background-color: green;
        }

}

@media (max-width: 1024px){
        header{
        background-color: purple;
        }

    }

